@import '../../Colors.scss';

.home-page-comp {
    width: 100%;
    max-width: 70em;

    /* Needed to overlap the threeJS background */
    position: absolute; 
    right: 0;
    left: 50%;
    transform: translate(-50%);

    /* Needed to be behind the nav bar */
    z-index: 2;
}

.home-page-comp__text-grid {
    background-image: linear-gradient(180deg, #23232388, #44444488);
    color: $white;
    border: 1px solid $green;
    border-radius: 30px;
    padding: 20px 30px 30px;
    text-align: left;
    box-shadow: 0px 0px 20px $green;
}

.home-page-comp__text-grid--first {
    margin: 5em 1em 25em;
}

.home-page-comp__text-grid--second,
.home-page-comp__text-grid--third,
.home-page-comp__text-grid--fourth {
    margin: 0 1em 25em;
}

.home-page-comp__links-row {
    text-align: center;
    column-gap: 4em;
}

.home-page-comp__links-row,
.home-page-comp__page-nav-row,
.home-page-comp__email-row {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.home-page-comp__links-col,
.home-page-comp__page-nav-col,
.home-page-comp__email-col {
    display: flex;
    flex-direction: column;
}

.home-page-comp__email-label {
    font-size: 1.1rem;
    margin: 1.5em 0 0;
}

.home-page-comp__page-nav-col {
    flex-basis: 40%;
}

.home-page-comp__link:hover .home-page-comp__link-img > *,
.home-page-comp__link:focus .home-page-comp__link-img > * {
    filter: hue-rotate(290deg);
    -webkit-filter: hue-rotate(290deg);
}

.home-page-comp__link:hover .home-page-comp__link-label,
.home-page-comp__link:focus .home-page-comp__link-label {
    color: $orange;
    padding-bottom: 0.6em;
}

.home-page-comp__link-img {
    display: block;
    height: 1.5em;
    width: 1.5em;
    margin: auto;
    text-align: center;
}

.home-page-comp__link-img > * {
    transition: all 0.3s ease;
}

.home-page-comp__link-label {
    margin: 0.5em 0 0 0;
    display: inline-block;
    font-size: 1rem;
    color: $white;
    padding-bottom: 0.3em;
    border-bottom-style: solid;
    border-bottom-width: 1.8px;
    width: fit-content;
    text-decoration: none;
    transition: all 0.3s ease;
    text-align: center;
}

.home-page-comp__main-header {
    text-align: center;
    margin: auto;
    font-size: 3.5rem;
    font-weight: 600;
    letter-spacing: 1px;
    margin: 0 0 0.3em 0;
}

.home-page-comp__main-sub {
    color: $gray;
    margin: auto;
    text-align: center;
    font-size: 1.3rem;
    font-weight: 400;
    margin: 0.5em 0 1.5em 0;
    letter-spacing: 2px;
}

.home-page-comp__main-hr {
    margin: 15px;
    text-align: center;
    margin: auto;
    width: 80%;
}

.home-page-comp__larger-link {
    font-size: 4em;
    font-weight: 100;
    text-align: center;
    color: $white;
    text-shadow: 0 0 5px black;
    padding-bottom: 0.2em;
    border-bottom-style: solid;
    border-bottom-width: 0.04em;
    width: fit-content;
    text-decoration: none;
    transition: all 0.3s ease;
}

.home-page-comp__larger-link:hover {
    cursor: pointer;
    color: $orange;
    padding-bottom: 0.3em;
}

.page-title {
    text-align: center;
    margin: 1em 0 1.5em 0;
    font-size: 6em;
    color: $green;
    text-shadow: 0 0 0.3em $green;
}

@media screen and (max-width: 500px) {
    .home-page-comp__text-grid--first {
        margin: 5em 0.5em 25em;
    }
    
    .home-page-comp__text-grid--second,
    .home-page-comp__text-grid--third,
    .home-page-comp__text-grid--fourth {
        margin: 0 0.5em 20em;
    }

    .home-page-comp__main-header {
        font-size: 2.2rem;
    }

    .home-page-comp__main-hr {
        width: 100%;
    }

    .home-page-comp__main-sub {
        font-size: 0.8rem;
        margin: 0.5em 0 2em 0;
    }

    .home-page-comp__links-row {
        column-gap: 1.5em;
    }

    .home-page-comp__larger-link {
        font-size: 2.5em;
    }

    .home-page-comp__link-label {
        font-size: 0.8rem;
        text-align: center;
    }

    .home-page-comp__page-nav-row,
    .home-page-comp__page-nav-col  {
        display: block;
    }

    .home-page-comp__page-nav-col--larger-link {
        text-align: center;
        margin: 0 auto 1em;
    }

    .page-title {
        margin: 2em 0 1.5em 0;
        font-size: 4em;
    }

}

.fade-in {
    visibility: visible;
    opacity: 1;
    transition: opacity 0.25s ease-in !important;
}

.fade-out {
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s 0.25s, opacity 0.25s ease-out !important;
}

.wobble {
    animation: wob 3s infinite ease;
    transition: 1s all;
}

.non-wobble {
    animation: non-wob 0.5s 1 ease-out;
    transform-origin: 50% 100%;
    transform: translate(0,0);
    transition: 1s all;
}

@keyframes wob {
    0% {transform: translateY(3px)};

    50% {transform: translateY(-3px)};

    100% {transform: translateY(3px)};
}

@keyframes non-wob {
    0% {transform-origin: 50% 100%;};

    100% {transform: translateY(0px)};
}
