@import '../Colors.scss';

.imgs-container {
    margin: 5px;
    height: 200px;
}

.img-container {
    top: 0;
    left: 0;
    border-radius: 8px;
    border: 1px $green solid;
    display: inline-block;
    max-height: 200px;
    width: 100%;
    overflow: hidden;
    transition: 0.2s all;
}

.img {
    position: relative;
    display: inline-block;
    padding: 0;
    margin: 0;
    transition: .2s all;
}

.img:hover {
    transform: scale(1.1);
    transition: .2s all;
}

.img1 {
    position: absolute;
    top: 0;
    left: 0;
    object-fit: cover;
    object-position: center;
    transition: .2s all;
    width: 100%;
}

@keyframes imageMoveDown {
    0% {transform: translate(0,0);opacity: 1;}
    95% {opacity: 1;}
    100% {transform: translate(0,-5%);opacity: 0;}
}

.img2 {
    position: absolute;
    top: 0;
    left: 0;
    object-fit: cover;
    object-position: center;
    transition: .2s all;
    width: 100%;
}

@keyframes imageMoveUp {
    0% {transform: translate(0,0);opacity: 1;}
    95% {opacity: 1;}
    100% {transform: translate(0,5%);opacity: 0;}
}