@import '../Colors.scss';

.imgs {
    border-radius: 8px;
    border: 0;
    display: inline-block;
    height: 95px;
    width: 95px;
    margin: 2.5px;
    overflow: hidden;
    transition: 0.2s all;
}

.imgs:hover {
    transition: 0.2s all;
    transform: scale(1.2);
    z-index: 11;
}

.imgs-shrink {
    max-height: 200px;
    top: 0;
    left: 0;
    transform: translate(-25%,-25%);
}

.img-container {
    margin: 5px;
    height: 200px;
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 21;
    width: 100vw;
    height: 100vh;
    background-color: #000000aa;
}

.img-overlay {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    height: 90vh;
}