@import '../../Colors.scss';

.nav-bar-comp {
    width: 100%;
    max-width: 70em;

    /* Needed to overlap the threeJS background */
    position: fixed;
    top: 0;
    left: 50%;
    transform: translate(-50%, 0%);

    /* Needed to be in front of everything on the page */
    z-index: 10;
}

.nav-bar-comp__row,
.nav-bar-comp__col {
   display: flex;
}

.nav-bar-comp__row {
    justify-content: center;
    column-gap: 1em;
 }

.nav-bar-comp__col {
    flex-direction: column;
}

.nav-bar-comp__btn {
    text-align: center;
    position: relative;
    border: 0;
    border-radius: 1em;
    color: #fefefe99;
    background-color: #55ff0011;
    letter-spacing: 0.03em;
    font-size: 1rem;
    padding: 1em;
    transition: 0.3s;
}

.nav-bar-comp__btn:hover {
    color: $white;
    transition: 0.3s;
    background-color: #55ff0055;
}

.nav-bar-comp__btn:after {
    content: "";
    position: absolute;
    background: $white;
    border-radius: 50%;
    opacity: 0;
    transition: all 0.5s;
    top: 0;
    left: 0;
    padding: 50%;
}

.nav-bar-comp__btn:active:after {
    opacity: 1;
    transition: 0s;
    top: 50%;
    left: 50%;
    padding: 0;
}
